@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Raleway');


html{
    max-width:1200px;
    margin:auto;
}

.navContainer{
    background-color:black;
    height:60px;
}

.aboutUsSection{
    height:200px;
}

.beginningTitle{
    font-family:"Oleo Script Swash Caps";
    font-size:120px;
}

.secondTitle{
    font-family:"Oleo Script Swash Caps";
    font-size:120px;
}

#mainNav{
    text-decoration: none;
    color:#FF7610;
    position:fixed;
    background-color:white;
    width:28%;
    z-index:99;
    height:60px;
}

#mainNav ul li{
    display:inline-block;
    list-style-type: none;
    padding-left:10px;
    padding-right:10px;
    margin:auto;
    text-transform:uppercase;
    text-align: center;
    vertical-align: middle;
    line-height:60px;
    text-decoration: none;
}

#mainNav ul li a{
    font-family: "Oswald";
    color: rgb(184, 22, 22);
    font-size:20px;
}

#mainNav ul li a:visited{
    color: rgb(184, 22, 22);
}

#mainNav ul li a:hover{
    color: lightslategrey;
    text-decoration: none;
}

.mainImageContainer{
    background-image:url('../img/cupcake.jpeg');
    background-size:cover;
    height:700px;
    margin-top:-100px;
    background-position:center;
}

.pageTitle{
    position:absolute;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:35%;
    font-family:"Oswald";
    font-size:120px;
    /* color:#52D5E2; */
    color: rgb(184, 22, 22);
    text-shadow:3px 3px 2px #fff;
    letter-spacing: 15px;
    text-align: center;
}

h1{
    font-family:"Oswald";
    font-size:40px;
    color:white;
    text-shadow:5px 5px 10px black;
    letter-spacing: 25px;
    text-align: center;
}

.sectionContainer{
    background-color:lavenderblush;
    /* background-image:url('../img/biscotti.jpeg'); */
    height:600px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:20px;
}

.firstBlock{
    background-color:lavender;
    background-image:url('../img/cupcakes_strawberry.jpeg');
    height:300px;
    background-origin:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-right:5px solid white;
}

.firstBlock2{
    background-color:teal;
    height:300px;
    border-top:5px solid white;
    background-image:url('../img/macarons.jpeg');
    background-position:center;
    border-right:5px solid white;
}

.menuBg .menuTitle{
    color:white;
}

.itemTitle{
    font-family:"Oswald";
    font-size:20px;
    text-align:center;
    color: rgb(184, 22, 22);
    /* color: rgb(34, 148, 158); */
    background-color:rgba(255,255,255,0.7);
    letter-spacing:5px;
}

.itemDesc{
    font-family:"Raleway";
    font-size:15px;
    color:black;
    font-weight:900;
    margin-left:10px;
    margin-right:10px;
}

.menuBg{
    /* background-image:url('../img/texture.jpeg'); */
    background: linear-gradient(to bottom right,#f9b9b9, rgba(184, 22, 22, 0.7));
    background-size:cover;
}
.sectionTitle{
    font-family:"Oleo Script Swash Caps";
    font-size:50px;
    text-align: center;
    color:#52D5E2;
}

.sectionDesc{

    padding:10px 40px;
    font-family:"Raleway";
}

.contactGrid{
    height:170px;
}

.textBox{
    background-color:#f9b9b9;
}

.contactGrid p {
    text-align: center;
    font-family: "Open Sans";
    margin:auto;
    font-size:17px;
    vertical-align: middle;
}


.aboutUsContainer{
    margin-top:50px;
}

.paraDesc{
    font-family:"Open Sans";
    padding:10px 40px;
}

.firstLine{
    text-transform: uppercase;
}


#logoContainer img{
    margin-top:20px;
    margin-right:20px;
    float:right;
}


.gridView{
    /* margin-top:40px; */
    padding-top:20px;
    /* background: linear-gradient(to right, #93f1ea, #f9b9b9); */
    background-color:#49dad07c;
}



.headingTitle{
    font-family:"Oswald";
    text-align: center;
    text-transform:uppercase;
    font-size:20px;
    color:rgb(206, 35, 129);
    text-shadow:1px 1px 1px rgb(255, 255, 255);
    max-width:250px;
}



.items img{
    border-radius: 50% 50%;
}


.contactSection{
    /* height:300px; */
    /* background-color:#f9b9b9; */
    margin-top:40px;
}

.contactSection p {
    text-align:center;
}

.theStore{
    margin:auto;
}

.footer{
    height:200px;
    border-top:2px solid rgb(206, 35, 129);
}